[package]
name = "emerald-hwkey"
description = "Emerald HWKey - Harware Cryptocurrency Key Access"
version = "0.1.0"
authors = ["Igor Artamonov <igor@artamonov.email>", "Dmitry Ulanov <dulanov@gmail.com>", "Constantine Kryvomaz <kostiyantynk@gmail.com>"]
edition = "2018"
readme = "crates.md"
repository = "https://github.com/emeraldpay/emerald-hwkey"
documentation = "https://docs.rs/emerald-hwkey"

[lib]
name = "emerald_hwkey"
path = "src/lib.rs"

[dependencies]
hidapi = "1.2.3"
hdpath = ">= 0.6"
hex = "0.4.2"
log = "0.4.11"
bitcoin = ">= 0.25"
byteorder = "1.3.4"
sha2 = "0.9.1"
ripemd160 = "0.9.1"
lazy_static = "1.4.0"

[dev-dependencies]
tempdir = "0.3.7"
quickcheck = "0.9.2"
bencher = "0.1.5"
simple_logger = "1.11.0"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
lazy_static = "1.4.0"
secp256k1 = { version = "0.19.0", features = ["rand", "recovery"] }